#cloud-config
preserve_hostname: true
timezone: ${timezone}
users:
  # - default
  - name: ${username}
    passwd: ${password_hash}
    lock_passwd: false
    groups:
      - sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_authorized_keys_1}
      - ${ssh_authorized_keys_2}
      - ${ssh_authorized_keys_3}
      - ${ssh_authorized_keys_4}
chpasswd:
  expire: false
package_update: true
packages:
  - qemu-guest-agent
  - net-tools
  - curl
  - chrony
  - tzdata
  - dnsutils
  - nano
  - wget
  - nc
  - mc
runcmd:
  - systemctl enable qemu-guest-agent --now
  - systemctl enable chronyd --now
  - echo "done" > /tmp/cloud-config.done